In [ ]:
x="*"
for i in range(5):
  print(i*x)

*
**
***
****

In [ ]:
x="*"
for i in range(5):
  print(x*i)

*
**
***
****

In [ ]:
x="* "
for i in range(5):
  print(i*x)
for i in range(5,0,-1):
  print(i*x)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
from re import I
x="*"
for i in range(5):
  y= (x + " ")*i
  print(y)

*
* *
* * *
* * * *

In [ ]:
movie = "Dhadakan"
for i in movie:
  print(i)

D
h
a
d
a
k
a
n

In [ ]:
movie = "Dhadakan"
for i in movie:
  print(i.swapcase())

d
H
A
D
A
K
A
N

In [ ]:
movie = "Dhadakan"
for i in movie:
  print(i.swapcase(), end ="")

dHADAKAN

In [ ]:
movie = "Dhadakan"
for i in movie:
  print(i.swapcase(), end =" ")

d H A D A K A N

In [ ]:
movie = "Dhadakan"
for i in movie:
  print(i.upper(), end ="")

DHADAKAN

In [ ]:
movie = "Dhadakan"
for i in movie:
  print(i.upper(), end =" ")

D H A D A K A N

In [ ]:
movie = "Dhadakan"
for i in movie:
  print(i.upper(), end ="/")

D/H/A/D/A/K/A/N/

In [ ]:
movie = "Dhadakan"
for i in movie:
  print(i.upper(), end ="-")

D-H-A-D-A-K-A-N-

In [ ]:
movie = "Dhadakan"
for i in movie:
  print(i.upper(), end ="*")

D*H*A*D*A*K*A*N*

In [ ]:
# Print odd and even numbers from 1 to 11
for i in range(1,12):
  if i % 2 == 0:
    print('This is the even number:', i)
  else:
    print('This is the odd number:', i)

This is the odd number: 1
This is the even number: 2
This is the odd number: 3
This is the even number: 4
This is the odd number: 5
This is the even number: 6
This is the odd number: 7
This is the even number: 8
This is the odd number: 9
This is the even number: 10
This is the odd number: 11

In [ ]:
for i in range (21):
  if i%2==0:
    print('Even number: ', i)
  else:
    print('Odd number: ', i)

Even number:  0
Odd number:  1
Even number:  2
Odd number:  3
Even number:  4
Odd number:  5
Even number:  6
Odd number:  7
Even number:  8
Odd number:  9
Even number:  10
Odd number:  11
Even number:  12
Odd number:  13
Even number:  14
Odd number:  15
Even number:  16
Odd number:  17
Even number:  18
Odd number:  19
Even number:  20

In [ ]:
print('Even numbers')
for i in range (11):
  if i%2==0:
    print(i)

print('Odd numbers')
for i in range (11):
  if i%2!=0:
    print(i)

Even numbers
0
2
4
6
8
10
Odd numbers
1
3
5
7
9

In [ ]:
for i in "Milit":
  print(i*3)

MMM
iii
lll
iii
ttt

In [ ]:
for i in "Milit":
  print(i*3, end=" ")

MMM iii lll iii ttt

In [ ]:
len("milit Diat")

10

In [ ]:
len("ashraf habib sayyad")

19

In [ ]:
x='*'
for i in range(5):
  print(i*x)
for i in range (5,0,-1):
  print(i*x)

*
**
***
****
*****
****
***
**
*

In [ ]:
x='*'
for i in range(0,5,2):
  print(i*x)
for i in range (5,0,-2):
  print(i*x)

**
****
*****
***
*

In [ ]:
rows = 5

# Upper part of the pattern
for i in range(1, rows + 1):
    print(' ' * (rows - i) + '*' * i)

# Lower part of the pattern
for i in range(rows - 1, 0, -1):
    print(' ' * (rows - i) + '*' * i)

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [ ]:
# if - elif condition
num = int(input ("Enter the number"))
if num>0:
  print("Positive")
elif num==0:
  print("Number is zero")
else:
  print("Negative")

Enter the number0
Number is zero

In [ ]:
# Input function

name = input("Enter your name: ")

Enter your name: Ashraf

In [ ]:
marks = input("Enter your marks: ")

Enter your marks66

In [ ]:
marks

'66'

In [ ]:
age= 30

In [ ]:
age

30

In [ ]:
age+10

40

In [ ]:
age

30

In [ ]:
# Type casting

age = int(input("Enter your age: "))

Enter your age: 56

In [ ]:
age

56

In [ ]:
age +8

64

In [ ]:
num = int(input("Enter the num: "))
print(num)
if num % 7 == 0:
  print("num is divisible by 7")
else:
  print("Sorry, try again")

Enter the num: 77
77
num is divisible by 7

In [ ]:
Marks = int(input("Enter the marks of student: "))
if  Marks >= 90:
  print("Distinction")
elif Marks >= 80:
  print("First Class")
elif Marks >= 70:
  print("Second Class")
elif Marks >= 60:
  print("Pass")
else:
  print("Fail")

Enter the marks of student: 75
Second Class

In [ ]:
Mark_list = [34,55,77,95,20,65]
for Marks in Mark_list:
  if  Marks >= 90:
    print(Marks,"-->Distinction")
  elif Marks >= 80:
   print(Marks,"-->irst Class")
  elif Marks >= 70:
    print(Marks,"-->Second Class")
  elif Marks >= 60:
   print(Marks,"-->Pass")
  else:
   print(Marks,"-->Fail")

34 -->Fail
55 -->Fail
77 -->Second Class
95 -->Distinction
20 -->Fail
65 -->Pass

In [ ]:
x=1
while x<6:
  print("Hello")
  x=x+1

Hello
Hello
Hello
Hello
Hello

In [ ]:
def square(i):
  return i * i
square(6)

36

In [ ]:
def square(i):
  return i **2
square(8)

64

In [ ]:
def cube(i):
  return i *i *i
cube(6)

216

In [ ]:
def cube(i):
  return i **3
cube(9)

729

In [ ]:
def grade(marks):
  if marks>80:
    grade= "A"
  elif marks>70:
    grade="B"
  elif marks > 60:
    grade= "C"
  else:
    grade="F"
  return grade

In [ ]:
grade(58)

'F'

In [ ]:
grade(88)

'A'

In [ ]:
# write a function calc_grade(marks)
def calc_grade(marks):
    if marks >= 80:
      grade = "Distinction"
    elif marks >= 60:
      grade = "First Class"
    elif marks >= 40:
      grade = "Pass"
    else:
      grade = "Fail"
    return grade # it should be aligned with if

In [ ]:
calc_grade(85)

'Distinction'

In [ ]:
# List of Strings
list3=["Mango","Apple","Banana","Pineapple","Custard Apple","Strawberry"]
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3[-4::-1]

['Banana', 'Apple', 'Mango']

In [ ]:
list3[-4::]

['Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3[-4:-1]

['Banana', 'Pineapple', 'Custard Apple']

In [ ]:
list3[::-1]

['Strawberry', 'Custard Apple', 'Pineapple', 'Banana', 'Apple', 'Mango']

In [ ]:
list3[::]

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3.append("Mulberry")

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry']

In [ ]:
for fruit in list3:
  if 'berry' in fruit:
    print(fruit)

Strawberry
Mulberry

In [ ]:
for fruit in list3:
  if 'pple' in fruit:
    print(fruit)

Apple
Pineapple
Custard Apple

In [ ]:
list3.append("Blackberry")

In [ ]:
list4=[]
list5=[]
list6=[]
for fruit in list3:
  if 'berry' in fruit:
    list4.append(fruit)
  elif 'pple' in fruit:
    list6.append(fruit)
  else:
    list5.append(fruit)

print(list4, end="")
print(list6, end="")
print(list5, end="")

['Strawberry', 'Blackberry', 'Mulberry']['Apple', 'Pineapple', 'Custard Apple']['Mango', 'Banana']

In [ ]:
input_string = "Python"
for i in range(1, len(input_string+1)):
  print(i)

In [ ]:
t1 = (10,30,20,50)

In [ ]:
t2 = (1,2,3,3,4,5,6 )

In [ ]:
t3 = t1+t2

In [ ]:
t3

(10, 30, 20, 50, 1, 2, 3, 3, 4, 5, 6)

In [ ]:
t1*3

(10, 30, 20, 50, 10, 30, 20, 50, 10, 30, 20, 50)

In [ ]:
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
t1.count(50)

1

In [ ]:
t2.index(3)

2

In [ ]:
t2

(1, 2, 3, 3, 4, 5, 6)

In [ ]:
t2.index(1)

0

In [ ]:
t4 = (1,2,3,2,3,4,5,67,55,5,5,5,5)

In [ ]:
t4.index(5)

6

In [ ]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# Dictionary
D1 = {"India":"New Delhi", "Nepal": "Katmandu"
      }

In [ ]:
d2 = {"abc": "xyz","ashraf":"diat_"}
D1.update(d2)

In [ ]:
D1

{'India': 'New Delhi', 'Nepal': 'Katmandu', 'abc': 'xyz', 'ashraf': 'diat_'}

In [ ]:
D1.update({"dads": "MLDL"})

In [ ]:
D1

{'India': 'New Delhi',
 'Nepal': 'Katmandu',
 'abc': 'xyz',
 'ashraf': 'diat_',
 'dads': 'MLDL'}

In [ ]:
D1.update({"a":"P", "m":"f"})
D1

{'India': 'New Delhi',
 'Nepal': 'Katmandu',
 'abc': 'xyz',
 'ashraf': 'diat_',
 'dads': 'MLDL',
 'a': 'P',
 'm': 'f'}

In [ ]:
D1.pop("a")

'P'

In [ ]:
D1

{'India': 'New Delhi',
 'Nepal': 'Katmandu',
 'abc': 'xyz',
 'ashraf': 'diat_',
 'dads': 'MLDL',
 'm': 'f'}

In [ ]:
D1["abc"]="Mumbai"
D1

{'India': 'New Delhi',
 'Nepal': 'Katmandu',
 'abc': 'Mumbai',
 'ashraf': 'diat_',
 'dads': 'MLDL',
 'm': 'f'}

In [ ]:
D1.popitem()

('m', 'f')

In [ ]:
D1

{'India': 'New Delhi',
 'Nepal': 'Katmandu',
 'abc': 'Mumbai',
 'ashraf': 'diat_',
 'dads': 'MLDL'}

In [ ]:
D1['dads']

'MLDL'

In [ ]:
D1.values(

)

dict_values(['New Delhi', 'Katmandu', 'Mumbai', 'diat_', 'MLDL'])

In [ ]:
list = ["as","sa","min","max","avg"]
tuple = (10,20,22,30,54,56)

my_dict= {"A":list, "B":tuple, "C":D1}
my_dict

{'A': ['as', 'sa', 'min', 'max', 'avg'],
 'B': (10, 20, 22, 30, 54, 56),
 'C': {'India': 'New Delhi',
  'Nepal': 'Katmandu',
  'abc': 'Mumbai',
  'ashraf': 'diat_',
  'dads': 'MLDL'}}

In [ ]:
my_dict['C']

{'India': 'New Delhi',
 'Nepal': 'Katmandu',
 'abc': 'Mumbai',
 'ashraf': 'diat_',
 'dads': 'MLDL'}

In [ ]:
my_dict['B']

(10, 20, 22, 30, 54, 56)

In [ ]:
my_dict['A']

['as', 'sa', 'min', 'max', 'avg']

In [ ]:
len(my_dict['C'])

5

In [ ]:
my_dict['A'][2]

'min'

In [ ]:
my_dict["C"]["ashraf"]

'diat_'

In [ ]:
my_dict["C"]['dads']

'MLDL'

In [ ]:
my_dict['B'][2]

22

In [ ]:
from math import sqrt
sqrt(64)

8.0

In [ ]:
from math import factorial
factorial(5)

120

In [ ]:
from math import *
list11 = [5,2,53]
prod(list11)

530

In [ ]:
cos(30)

0.15425144988758405

In [ ]:
tu=(1,2,3,4,5,10)
prod(tu)

1200

In [ ]:
import math
l4 = [5,6,4,3,8,9]
print(math.prod(l4))

25920

In [ ]:
math.sqrt(36)

6.0

In [ ]:
import math as mt
tt = (1,5,9,7,8,3)
mt.prod(tt)

7560